/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 div#en_form_wrap form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#en_form_wrap > form > div.en_input_box {
    display: flex;
    flex-direction: column;
}
input.register-button {
    all: unset;
    width: fit-content;
    padding: 8px 30px;
    max-height: 45px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #15c39a;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
input.register-button:hover {
    background-color: #19ddaf;
    transition: .3s;
}
#en_form_wrap > form > div.en_input_box > input {
    all: unset;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#en_form_wrap > form > div.en_input_box > input {
    padding: 8px 10px;
    max-height: 45px;
}
#en_form_wrap > form > div.en_input_box > input[disabled] {
    opacity: .5;
    background: #ddd;
}
input#en_date {
    align-items: center !important;
}
input#en_date::-webkit-calendar-picker-indicator {
    border-left: 1px solid #ddd;
    padding-left: 12px;
    cursor: pointer;
}
#en_form_wrap > form > div.en_input_box > input:focus{
    border-color: #15c39a;
}
#en_form_wrap > form > div.en_input_box > label {
    font-weight: 500;
    font-size: 16px;
}
#en_form_wrap > form > div.en_input_box > label > small{
    color: red;
}
.en_alert {
    padding: 5px 10px;
    border-left: 5px solid;
}
.en_alert p {
    margin: 0;
    padding: 0;
}
.en_alert.success {
    background-color: aliceblue;
    border-left-color: #15c39a;
}
.en_alert.error {
    background-color: #ffe4e4;
    border-left-color: red;
}